body{
    margin: 0;
}

.box{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
}
.box-default{
    padding: 25px;
    border: 10px solid black;
}
.box-new{
    box-sizing: border-box; /* De esta manera haceos que el contenido se adapte al tamaño de la caja, en este caso 100*100 indicado en el .box con width y height*/
    padding: 25px;
    border: 10px solid black;
}